/* Dark Skin Style */


QWidget#centralwidget {
    background-color: #333333; /* Dark Gray */
}

QLineEdit {
    background-color: #555555; /* Dark Gray */
    border: 1px solid #555555; /* Gray */
    color: #ffffff; /* White */
    border-radius: 4px;
}

QLineEdit:hover {
    border-color: #aaaaaa; /* Medium Gray */
}

QLineEdit:focus {
    border-color: #007bff; /* Blue */
}

/* Dark Skin Heading Style */
QLabel {
    color: #ffffff; /* White */
	font: 9pt "Segoe UI";
}

QDoubleSpinBox {
    background-color: #555555; /* Dark Gray */
    border: 1px solid #555555; /* Gray */
    color: #ffffff; /* White */
    border-radius: 4px;
}

QDoubleSpinBox:hover {
    border-color: #aaaaaa; /* Medium Gray */
}

QDoubleSpinBox:focus {
    border-color: #007bff; /* Blue */
}

QComboBox {
    background-color: #555555; /* Dark Gray */
    border: 1px solid #555555; /* Gray */
    color: #ffffff; /* White */
    border-radius: 4px;
}

QComboBox:hover {
    border-color: #aaaaaa; /* Medium Gray */
}

QComboBox:focus {
    border-color: #007bff; /* Blue */
}

QComboBox::drop-down {
    border: none;
    background-color: transparent;
}

QPushButton {
    background-color: #555555; /* Dark Gray */
    border: 2px solid #ffffff; /* White */
    color: #ffffff; /* White */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 8px;
}

QPushButton:hover {
    background-color: #ffffff; /* White */
    color: #555555; /* Dark Gray */
}

QPushButton:pressed {
    background-color: #555555; /* Dark Gray */
    color: #ffffff; /* White */
}


QCheckBox {
    background-color: #333333;
    color: #ffffff; /* White */
}

QCheckBox::indicator {
    width: 16px;
    height: 16px;
}

QCheckBox::indicator:unchecked {
    background-color: #555555;
}

QCheckBox::indicator:checked {
    color: #ffffff; /* White */
}

QFrame.Line {
    background-color: #555555; /* Dark Gray */
    height: 2px;
    margin: 10px 0;
}

QGroupBox {
    border: 1px solid #555555; /* Dark Gray border */
    border-radius: 6px;
    margin-top: 10px;
    background-color: #333333; /* Dark background */
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top center;
    padding: 0 5px;
	font: 75 12pt "Segoe UI";
    color: #ffffff; /* White */
}

QStatusBar {
    background-color: #333333; /* Dark Gray */
    color: #ffffff; /* White */
}

QMenuBar {
    background-color: #333333; /* Dark Gray */
}

QMenuBar::item {
    background-color: transparent;
    color: #ffffff; /* White */
}

QMenuBar::item:selected {
    background-color: #555555; /* Medium Gray */
}

QMainWindow {
    background-color: #f0f0f0; /* Very Light Gray */
}
